In [1]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.vector_ar.var_model import VAR

In [4]:
data = pd.read_csv('./data/time_series/mu/alabama.csv')

In [5]:
data.head()

   Unnamed: 0      time     sate   pov         fi
0          30  1/1/2010  Alabama  18.9  20.379104
1          31  1/1/2011  Alabama  18.9  19.292537
2          32  1/1/2012  Alabama  21.3  19.497412
3          33  1/1/2013  Alabama  23.8  18.569592
4          34  1/1/2014  Alabama  20.6  18.800626

In [6]:
data = data.drop(columns = ['Unnamed: 0', 'sate'])

In [7]:
data.dtypes

time     object
pov     float64
fi      float64
dtype: object

In [8]:
data['time'] = pd.to_datetime(data['time'])

In [9]:
data.set_index('time', inplace=True)

In [10]:
data.head()

             pov         fi
time
2010-01-01  18.9  20.379104
2011-01-01  18.9  19.292537
2012-01-01  21.3  19.497412
2013-01-01  23.8  18.569592
2014-01-01  20.6  18.800626

### Modeling with Var

In [ ]:
# Code and methodology developed with help from Adi and ##https://www.analyticsvidhya.com/blog/2018/09/multivariate-time-series-guide-forecasting-modeling-python-codes/

In [12]:
# #creating the train and validation set
train = data.drop(data.tail(2).index)
valid = data.drop(data.head(7).index)

In [13]:
#fit the model
from statsmodels.tsa.vector_ar.var_model import VAR

In [14]:
#fit the model
model = VAR(endog = train)
model_fit = model.fit()

/Users/ae-j/opt/anaconda3/lib/python3.8/site-packages/statsmodels/tsa/base/tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency AS-JAN will be used.
  warnings.warn('No frequency information was'

In [15]:
# make prediction on validation
prediction = model_fit.forecast(model_fit.y, steps=len(valid))

/Users/ae-j/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/wrapper.py:34: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  obj = getattr(results, attr)

In [21]:
model_fit.summary()

  Summary of Regression Results
==================================
Model:                         VAR
Method:                        OLS
Date:           Wed, 24, Mar, 2021
Time:                     17:29:04
--------------------------------------------------------------------
No. of Equations:         2.00000    BIC:                   0.143991
Nobs:                     7.00000    HQIC:                 -0.382681
Log likelihood:          -14.5314    FPE:                    1.36158
AIC:                     0.190353    Det(Omega_mle):        0.667176
--------------------------------------------------------------------
Results for equation pov
=========================================================================
            coefficient       std. error           t-stat            prob
-------------------------------------------------------------------------
const         36.270383        43.980086            0.825           0.410
L1.pov        -0.073201         0.593939           -0.123           0.902
L1.fi         -0.708552         1.820041           -0.389           0.697
=========================================================================

Results for equation fi
=========================================================================
            coefficient       std. error           t-stat            prob
-------------------------------------------------------------------------
const         15.966217         9.072656            1.760           0.078
L1.pov        -0.089035         0.122524           -0.727           0.467
L1.fi          0.245533         0.375456            0.654           0.513
=========================================================================

Correlation matrix of residuals
            pov        fi
pov    1.000000 -0.574113
fi    -0.574113  1.000000

In [ ]:
## iterate list of all states and create different array/lsit for each state