# <img src="./resources/GA.png" width="25" height="25" />   <span style="color:Purple">Project 5 :  Food Insecurity Regression Study</span> 
---
## <span style="color:Green"> 06 - Univariate Time Series Modeling</span>      

#### Alec Edgecliffe-Johnson, Ryan McDonald, Andrew Roberts, Ira Seidman- General Assembly 



---

In this notebook we develop three univariate time series models using Arima, Auto Arima and Prophet to forecast predictions for Food Insecurity rates in a single state until 2026. We then develop a method to generate these predictions for each state in the country, save the predicitons to a dataframe and then concatenate all dataframes together into a single dataframe. Ultimately, given the poor accuracy of the Arima and Auto-Arima models, we do not keep these models and instead use the predictions from the Prophet model as our forecasted Food Insecurity rates. We use this exported dataframe with our forecasts in Tableau, which is then hosted on our Streamlit app, the script for which can be found in the 'food_ins.py' file in this repo.

### Notebook Contents:

- [Reading the Data](#intro)
- [Model Preprocessing](#pre)
- [Time Series Models](#model)
    - [ARIMA](#ARIMA)
    - [Auto-ARIMA](#auto)
    - [Prophet](#prophet)
    - [Aggregation 1 (ARIMA+Auto-ARIMA)](#agg1)
    - [Aggregation 2 (ARIMA+Auto-ARIMA+Prophet)](#agg2)
- [Merging Forecast w/ Original Data](#merge)

**Imports**

In [4]:
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import r2_score, mean_squared_error
import datetime
import pmdarima as pm
from pmdarima.model_selection import train_test_split
from fbprophet import Prophet
from statsmodels.tsa.arima.model import ARIMA
from sklearn.linear_model import LinearRegression

<a id='intro'></a>
## 1. Reading in the Datasets to clean

In [5]:
df = pd.read_csv('./data/time_series/df_ts_state_mean_years.csv')

In [6]:
#Dropping unnecessary columns, transposing and resetting index
df = df.drop(columns = 'fips', axis = 1)

df = df.rename(columns = {"state_name": ""})

df_t = df.T

df_t.reset_index()

,index,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50
0,,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,Georgia,Hawaii,Idaho,Illinois,Indiana,Iowa,Kansas,Kentucky,Louisiana,Maine,Maryland,Massachusetts,Michigan,Minnesota,Mississippi,Missouri,Montana,Nebraska,Nevada,New Hampshire,New Jersey,New Mexico,New York,North Carolina,North Dakota,Ohio,Oklahoma,Oregon,Pennsylvania,Rhode Island,South Carolina,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
1,2009,20.3791,15.0217,20.7467,19.2573,17.9897,14.1266,11.7125,12.3667,15.8,17.606,19.8013,14.025,16.1841,14.5618,16.0424,12.9606,13.3514,18.3417,16.0453,16.1062,11.7391,11.0714,18.1193,11.7782,22.311,17.2104,13.6893,11.5204,14.8529,10.45,12.7667,17.5939,12.8484,19.279,8.23585,17.5864,17.3494,17.4361,13.8493,13.88,21.3609,12.2385,18.9253,17.9217,15.9448,13.7786,14.0519,16.0667,15.0255,13.35,11.9174
2,2010,19.2925,14.5739,19.5533,18.9813,17.8,14.2578,12.05,12,16.4595,17.7881,19.517,13.675,16.5227,13.5569,14.6076,12.5636,12.9952,17.4092,16.1828,15.35,11.2261,10.9143,16.1,10.492,22.5646,16.2374,14.1946,11.4,15.7941,9.96,12.4238,17.5636,12.3274,18.585,7.68302,16.4148,16.5364,16.3917,13.2254,13.92,20.4043,12.0969,16.7547,17.4213,16.2759,12.8643,13.4256,15.6795,15.5127,12.4847,12.1348
3,2011,19.4974,14.6945,19.0905,19.7142,17.4267,15.5429,14.532,13.2307,15.7153,18.6745,20.0234,14.5547,17.3017,15.2103,16.3266,12.919,15.0897,17.1533,17.1471,15.7071,13.4036,12.2947,17.9198,11.3739,21.4355,17.12,14.9289,13.6793,17.356,10.6138,13.9516,20.0641,14.6579,19.2963,7.36915,17.7938,17.2443,17.9255,14.8675,15.3191,18.5973,12.5206,17.6031,18.7452,16.7488,13.0501,12.681,16.1271,15.2692,13.0329,11.9896
4,2012,18.5696,13.9695,17.8472,19.4305,16.2444,14.5681,13.8833,13.0303,14.4768,17.8502,18.8972,14.1692,15.7959,14.2429,15.6585,12.6775,14.7909,16.676,16.9104,15.4981,13.1395,11.8836,16.7964,10.7465,22.3051,17.1211,14.583,13.3709,16.8214,10.9251,12.9943,18.5612,14.0966,18.5998,7.7384,17.1702,17.204,16.7464,14.3278,14.6569,17.9644,12.3429,17.0657,18.3192,15.5441,13.3592,12.1371,14.9552,14.9983,12.6497,13.0046
5,2013,18.8006,14.2491,17.5261,19.743,14.9527,13.9147,13.5801,13.212,14.9958,16.9569,18.7326,13.8129,15.5589,13.6249,15.416,12.5954,14.4898,16.4342,16.8123,15.5153,12.7754,11.4683,16.4053,10.5668,22.7249,17.0417,14.2282,13.2169,15.8125,10.8201,12.3801,17.3079,13.9428,18.2974,7.80074,16.869,17.0011,15.7514,14.1591,14.4402,17.0594,12.442,17.0539,17.594,14.5963,13.5662,11.8959,14.6011,15.7741,12.4331,12.7811
6,2014,18.9522,15.9304,17.64,19.7547,14.6621,12.8109,11.975,11.9,13.5,16.491,17.9396,13.275,14.5477,12.3167,13.5065,11.9202,12.8467,16.2475,17.1031,15.3875,11.4826,10.7071,14.0831,9.83448,22.8683,15.9591,13.1911,12.0366,13.4529,10.36,11.2,16.0576,11.9145,17.096,7.27925,14.575,15.7195,15.2889,12.3687,12.46,17.7739,12.5631,15.5495,15.663,14.4793,12.8143,12.9346,14.159,15.2273,11.4139,12.4304
7,2015,18.4925,15.3478,16.96,19.144,13.7672,11.8625,11.25,11.6333,12.7,16.2269,16.9931,12.35,13.6409,11.9363,12.85,11.3293,12.2352,15.7108,17.2578,14.7438,11.0348,10.2286,13.1723,9.56437,21.9305,15.26,12.9589,11.7989,12.8529,9.99,10.4476,15.7424,11.7113,16.743,7.00189,14.0989,15.3545,14.4472,12.0537,11.64,17.1652,12.3477,14.8989,15.0339,14.2897,12.25,12.488,13.3154,14.8982,10.8653,12.0348
8,2016,18.0925,14.8652,16.16,18.1387,13.0655,11.0625,10.725,11.4667,11.9,15.5075,16.4478,11.425,13.2114,11.5794,12.4707,11.0232,12.1095,15.7092,17.0094,14.1188,10.3435,9.25714,12.8602,9.28161,21.2037,14.7183,12.6536,11.4054,12.1353,9.39,10.0143,15.9,11.029,15.947,6.98679,13.692,15.3701,13.5778,11.9836,11.16,16.087,11.7554,14.0937,14.8614,13.9586,11.6857,12.0346,13.0615,14,10.2333,12.4348
9,2017,17.1552,14.7783,15.5333,17.7587,12.3897,10.5609,10.475,11.4667,11.4,14.6418,15.7107,10.575,12.5432,11.0382,11.8707,10.6141,11.8362,15.4292,16.5578,13.3875,10.1391,9.02143,12.888,9.16322,20.3451,14.0643,12.05,11.2785,11.3412,9.11,9.6381,15.9636,10.9048,15.419,6.47358,13.4568,15.0312,12.9556,11.4836,10.42,15.3783,12.0046,13.3274,14.4701,13.4138,11.5,11.7429,12.4231,13.8036,9.6125,11.787
10,2018,17.7194,14.2652,15.7533,18.2387,11.9103,11.0391,10.7625,11.3667,10.7,13.9448,14.8478,10.85,11.5773,10.9186,12.587,9,12.2933,16.3625,16.5359,13.5188,11.0913,8.47857,13.6602,8.6,19.3122,14.1904,10.8607,12.0172,12.3706,9.38,8.75714,15.4879,10.8887,15.147,6.46604,13.6216,15.0013,13.1333,10.8522,9.22,12.837,11.3431,14.4242,15.3043,12.5552,10.8571,11.1113,12.8538,14.0855,8.95,12.2565

In [ ]:
# #Exporting to CSV
# df_t.to_csv('./data/time_series/df_ts_rev.csv')

In [7]:
#Reimporting a renamed file
df_rev = pd.read_csv('./data/time_series/df_ts_rev_fin_yr10.csv')

In [8]:
df_rev.head()

,Unnamed: 0,time,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,Georgia,Hawaii,Idaho,Illinois,Indiana,Iowa,Kansas,Kentucky,Louisiana,Maine,Maryland,Massachusetts,Michigan,Minnesota,Mississippi,Missouri,Montana,Nebraska,Nevada,New Hampshire,New Jersey,New Mexico,New York,North Carolina,North Dakota,Ohio,Oklahoma,Oregon,Pennsylvania,Rhode Island,South Carolina,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
0,0,2010-01-01,20.379104,15.021739,20.746667,19.257333,17.989655,14.126563,11.712500,12.366667,15.800000,17.605970,19.801258,14.025000,16.184091,14.561765,16.042391,12.960606,13.351429,18.341667,16.045312,16.106250,11.739130,11.071429,18.119277,11.778161,22.310976,17.210435,13.689286,11.520430,14.852941,10.450000,12.766667,17.593939,12.848387,19.279000,8.235849,17.586364,17.349351,17.436111,13.849254,13.880000,21.360870,12.238462,18.925263,17.921654,15.944828,13.778571,14.051880,16.066667,15.025455,13.350000,11.917391
1,1,2011-01-01,19.292537,14.573913,19.553333,18.981333,17.800000,14.257813,12.050000,12.000000,16.459510,17.788060,19.516981,13.675000,16.522727,13.556863,14.607609,12.563636,12.995238,17.409167,16.182812,15.350000,11.226087,10.914286,16.100000,10.491954,22.564634,16.237391,14.194643,11.400000,15.794118,9.960000,12.423810,17.563636,12.327419,18.585000,7.683019,16.414773,16.536364,16.391667,13.225373,13.920000,20.404348,12.096923,16.754737,17.421260,16.275862,12.864286,13.425564,15.679487,15.512727,12.484722,12.134783
2,2,2012-01-01,19.497412,14.694528,19.090460,19.714232,17.426683,15.542930,14.532038,13.230666,15.715312,18.674549,20.023413,14.554738,17.301741,15.210277,16.326573,12.919010,15.089658,17.153329,17.147063,15.707114,13.403591,12.294734,17.919770,11.373916,21.435536,17.120004,14.928887,13.679279,17.356009,10.613764,13.951574,20.064124,14.657905,19.296320,7.369154,17.793839,17.244326,17.925498,14.867511,15.319100,18.597291,12.520599,17.603121,18.745160,16.748769,13.050120,12.680996,16.127143,15.269241,13.032920,11.989623
3,3,2013-01-01,18.569592,13.969532,17.847161,19.430470,16.244368,14.568059,13.883338,13.030318,14.476778,17.850177,18.897181,14.169228,15.795925,14.242902,15.658524,12.677502,14.790854,16.676046,16.910432,15.498137,13.139463,11.883582,16.796413,10.746515,22.305076,17.121090,14.583029,13.370879,16.821370,10.925118,12.994284,18.561158,14.096593,18.599840,7.738398,17.170230,17.203957,16.746368,14.327769,14.656876,17.964432,12.342894,17.065653,18.319248,15.544147,13.359190,12.137138,14.955172,14.998278,12.649662,13.004587
4,4,2014-01-01,18.800626,14.249142,17.526119,19.743033,14.952682,13.914748,13.580065,13.212005,14.995769,16.956854,18.732573,13.812859,15.558861,13.624915,15.415996,12.595392,14.489849,16.434164,16.812346,15.515297,12.775405,11.468253,16.405336,10.566787,22.724940,17.041708,14.228229,13.216906,15.812491,10.820131,12.380133,17.307929,13.942814,18.297411,7.800739,16.869003,17.001128,15.751393,14.159137,14.440172,17.059423,12.442048,17.053937,17.593981,14.596301,13.566219,11.895906,14.601072,15.774113,12.433148,12.781083

In [9]:
#Final drop
df_rev = df_rev.drop(columns = 'Unnamed: 0', axis = 1)

<a id='pre'></a>
## 2. Modeling Preprocessing - Make Train and Validation DFs

In [ ]:
## https://stackoverflow.com/questions/26921651/how-to-delete-the-last-row-of-data-of-a-pandas-dataframe

df_train = pd.DataFrame(df_rev.drop(df_rev.tail(2).index))

In [ ]:
df_val = pd.DataFrame(df_rev.drop(df.head(7).index))

In [ ]:
df_val.head()

<a id='model'></a>
## 3. Models
<a id='ARIMA'></a>
### Model 1: ARIMA

In [ ]:
## Help and base code comes from: https://www.youtube.com/watch?v=axjgEgBgIY0

In [ ]:
au = df_train[['time', 'Georgia']]
au_v = df_val[['time', 'Georgia']]

au.set_index('time', inplace=True)
au_v.set_index('time', inplace=True)

index_5_years = pd.date_range(au.index[-1], freq = 'AS', periods = 5)

In [ ]:
mod_arima = ARIMA(au, order=(1,1,1))
model_arima_fit = mod_arima.fit()

fcast1 = model_arima_fit.forecast(5)[0]

fcast1 = pd.Series(fcast1, index=index_5_years)
fcast1 = fcast1.rename('Arima');

In [ ]:
# fig, ax = plt.subplots(figsize =(15,5))
# chart = sns.lineplot(x='time', y = 'Georgia', data = au)
# chart.set_title('AU')
# fcast1.plot(ax=ax, color = 'green', marker = 'o', legend = True)
# au.plot(ax=ax, color = 'blue', marker = 'o', legend = True)
# au_v.plot(ax=ax, color = 'orange', marker = 'o', legend = True)

<a id='auto'></a>
### Model 2: Auto-Arima

In [ ]:
## Help and base code comes from: https://www.youtube.com/watch?v=axjgEgBgIY0

In [ ]:
auto_arima_mod = pm.auto_arima(au, seasonal = False, m = 4)

fcast2 = auto_arima_mod.predict(5)

fcast2 = pd.Series(fcast2, index=index_5_years)
fcast2 = fcast2.rename('Auto_Arima')

In [ ]:
# fig, ax = plt.subplots(figsize =(15,5))
# chart = sns.lineplot(x='time', y = 'Georgia', data = au)
# chart.set_title('AU')
# fcast2.plot(ax=ax, color = 'green', marker = 'o', legend = True)
# au.plot(ax=ax, color = 'blue', marker = 'o', legend = True)
# au_v.plot(ax=ax, color = 'orange', marker = 'o', legend = True)

<a id='prophet'></a>
### Model 3: Prophet

In [ ]:
## Help and base code comes from: https://www.youtube.com/watch?v=axjgEgBgIY0

In [ ]:
au.head()

In [ ]:
## Copying and renaming 
au_c = df_train[['time', 'Georgia']].copy()
au_c.columns = ['ds', 'y']
au_c['ds'] = pd.to_datetime(au_c['ds'])

model_p = Prophet()
model_p.fit(au_c)

future = model_p.make_future_dataframe(5, freq = 'Y')

#make predictions

fcast3 = model_p.predict(future)

fcast3 = pd.Series(fcast3['yhat'].values, name = 'Prophet', index = fcast3['ds'])

In [ ]:
# fig, ax = plt.subplots(figsize =(15,5))
# chart = sns.lineplot(x='time', y = 'Georgia', data = au)
# chart.set_title('AU')
# fcast3.plot(ax=ax, color = 'green', marker = 'o', legend = True)
# au.plot(ax=ax, color = 'blue', marker = 'o', legend = True)
# au_v.plot(ax=ax, color = 'orange', marker = 'o', legend = True)

In [ ]:
# print(f'The MSE of Prophet is: {mean_squared_error(au_v['Georgia'].values, fcast3.values, squared= False)}.')

<a id='agg1'></a>
### Model Aggregation 1: Running Arima and Auto-Arima Models Side-By-Side

In [ ]:
## Help and base code comes from: https://www.youtube.com/watch?v=axjgEgBgIY0

In [ ]:
df_train.head()

In [ ]:
## Creating a states list for proof that it can work on multiple states.
states = ['Georgia', 'Alabama']

for s in states:
    #training data
    train_data = df_train[['time', s]]
    
    #valid data
    valid_data = df_val[['time', s]]
    
    #all data
    all_data = df_rev[['time', s]]
    
    #Set time column to index
    train_data.set_index('time', inplace=True)
    valid_data.set_index('time', inplace=True)
    valid_data.columns = ['Valid Data'] ##To see it on the graph
    all_data.set_index('time', inplace=True)
    
    #Set valid index for 5 years
    index_7_years = pd.date_range(train_data.index[-1], freq = 'AS', periods = 7)
    
    #Future index - 5 years
    future_7_years = pd.date_range(valid_data.index[-1], freq = 'AS', periods = 7)
    
    ## Tricky bit of code in order to basically reset the forecasts from the previous state. 
    # Otherwise, if a state fails to work in the Arima model, the forecast from the previous state is going to be passed in.
    
    #Drop all tables:
    try:
        del t_fcast1
        del t_fcast2
        #del t_fcast3
    
        del f_fcast1
        del f_fcast2
        #del f_fcast3
    except:
        print("")
    
    try:
        del t_fcast1
        del t_fcast2
        del t_fcast3
    except:
        print("")

## Arima Model ##

#Arima Validation Phase 

    try:
        model_arima = ARIMA(train_data, order=(1,1,1))
        model_arima_fit = model_arima.fit()

        t_fcast1 = model_arima_fit.forecast(7)[0]

        t_fcast1 = pd.Series(fcast1, index=index_7_years)
        t_fcast1 = t_fcast1.rename('Arima')
    except:
        print(s, 'Arima Train Error')
          

#Arima Future Phase
            
    try:
        model_arima = ARIMA(all_data, order=(1,1,1))
        model_arima_fit = model_arima.fit()

        f_fcast1 = model_arima_fit.forecast(7)[0]

        f_fcast1 = pd.Series(fcast1, index=future_7_years)
        f_fcast1 = f_fcast1.rename('Future_Arima')
    except:
        print(s, 'Arima Future Error')
        

##### Auto-Arima #####


#Auto Arima Valid phase
    try:
        auto_arima_model = pm.auto_arima(train_data, seasonal = False, m = 4)

        t_fcast2 = auto_arima_model.predict(7)
        t_fcast2 = pd.Series(t_fcast2, index=index_7_years)
        t_fcast2 = t_fcast2.rename('Auto_Arima')
    except:
        print(s, 'Auto Arima Train Error')
        

#Auto Arima Future phase
    try:
        auto_arima_model = pm.auto_arima(all_data, seasonal = False, m = 4)

        f_fcast2 = auto_arima_model.predict(7)
        f_fcast2 = pd.Series(f_fcast2, index=future_7_years)
        f_fcast2 = f_fcast2.rename('Future_Auto_Arima')
    except:
        print(s, 'Auto Arima Future Error')
    
#Plotting
# fig, ax = plt.subplots(figsize =(15,5))
# chart = sns.lineplot(x='time', y = s, data = train_data)
# chart.set_title(s)
# valid_data.plot(ax=ax, color = 'blue', marker = 'o', legend = True)
# #Plotting val
# try:
#     t_fcast1.plot(ax=ax, color = 'red', marker = 'o', legend = True)
# except:
#     print('')
# try:
#     t_fcast2.plot(ax=ax, color = 'green', marker = 'o', legend = True)
# except:
#     print('')
    
# #plotting future
# try:
#      f_fcast1.plot(ax=ax, color = 'red', marker = 'v', legend = True)
# except:
#     print('')
# try:
#     f_fcast2.plot(ax=ax, color = 'green', marker = 'v', legend = True)
# except:
#     print('')

<a id='agg2'></a>
### Model Aggregation 2: Arima, Auto Arima and Prophet

In [ ]:
df_train.head()

In [ ]:
## Creating a full states list:

states = ["Alabama","Alaska","Arizona","Arkansas","California","Colorado",
  "Connecticut","District of Columbia", "Delaware","Florida","Georgia","Hawaii","Idaho","Illinois",
  "Indiana","Iowa","Kansas","Kentucky","Louisiana","Maine","Maryland",
  "Massachusetts","Michigan","Minnesota","Mississippi","Missouri","Montana",
  "Nebraska","Nevada","New Hampshire","New Jersey","New Mexico","New York",
  "North Carolina","North Dakota","Ohio","Oklahoma","Oregon","Pennsylvania",
  "Rhode Island","South Carolina","South Dakota","Tennessee","Texas","Utah",
  "Vermont","Virginia","Washington","West Virginia","Wisconsin","Wyoming"]

for s in states:
    #training data
    train_data = df_train[['time', s]]
    
    #valid data
    valid_data = df_val[['time', s]]
    
    #all data
    all_data = df_rev[['time', s]]
    
    #Set time column to index
    train_data.set_index('time', inplace=True)
    valid_data.set_index('time', inplace=True)
    valid_data.columns = ['Valid Data'] ##To see it on the graph
    all_data.set_index('time', inplace=True)
    
    #Set valid index for 7 years
    index_7_years = pd.date_range(train_data.index[-1], freq = 'AS', periods = 7)
    
    #Future index - 7 years
    future_7_years = pd.date_range(valid_data.index[-1], freq = 'AS', periods = 7)
    
    ## Tricky bit of code in order to basically reset the forecasts from the previous state. 
    # Otherwise, if a state fails to work in the Arima model, the forecast from the previous state is going to be passed in.
    
    #Drop all tables:
    try:
        del t_fcast1
        del t_fcast2
        del t_fcast3
#         del t_fcast4
    
        del f_fcast1
        del f_fcast2
        del f_fcast3
#         del f_fcast4
    except:
        print("")
    
    try:
        del t_fcast1
        del t_fcast2
        del t_fcast3
    except:
        print("")

##################################################################################################################
################################################ Arima #########################################################
##################################################################################################################


############################################# Arima Validation Phase ###################################################


    try:
        model_arima = ARIMA(train_data, order=(1,1,1))
        model_arima_fit = model_arima.fit()

        t_fcast1 = model_arima_fit.forecast(7)[0]

        t_fcast1 = pd.Series(fcast1, index=index_7_years)
        t_fcast1 = t_fcast1.rename('Arima')
    except:
        print(s, 'Arima Train Error')
          

################################################  Arima Future Phase ###################################################

            
    try:
        model_arima = ARIMA(all_data, order=(1,1,1))
        model_arima_fit = model_arima.fit()

        f_fcast1 = model_arima_fit.forecast(7)[0]

        f_fcast1 = pd.Series(fcast1, index=future_7_years)
        f_fcast1 = f_fcast1.rename('Future_Arima')
    except:
        print(s, 'Arima Future Error')
        

##################################################################################################################
################################################ Auto Arima ######################################################
##################################################################################################################


################################################  Auto Arima Validation Phase ###################################################

    try:
        auto_arima_model = pm.auto_arima(train_data, seasonal = False, m = 4)

        t_fcast2 = auto_arima_model.predict(7)
        t_fcast2 = pd.Series(t_fcast2, index=index_7_years)
        t_fcast2 = t_fcast2.rename('Auto_Arima')
    except:
        print(s, 'Auto Arima Train Error')
        

################################################  Auto Arima Future Phase ###################################################
   
    try:
        auto_arima_model = pm.auto_arima(all_data, seasonal = False, m = 4)

        f_fcast2 = auto_arima_model.predict(7)
        f_fcast2 = pd.Series(f_fcast2, index=future_7_years)
        f_fcast2 = f_fcast2.rename('Future_Auto_Arima')
    except:
        print(s, 'Auto Arima Future Error')
    
##################################################################################################################
################################################ Prophet #########################################################
##################################################################################################################

    #Expected column names Train
    train_data3 = df_train[['time', s]].copy()
    train_data3.columns = ['ds', 'y']
    train_data3['ds'] = pd.to_datetime(train_data3['ds'])

    #Expected column names Tall
    all_data3 = df_rev[['time', s]].copy()
    all_data3.columns = ['ds', 'y']
    all_data3['ds'] = pd.to_datetime(all_data3['ds'])
    
################################################  Prophet Validation Phase ###################################################
        
    model_p = Prophet()
    model_p.fit(train_data3)

    ##make validation index 
    val = model_p.make_future_dataframe(7, freq = 'Y')
    
    #make predictions
    t_fcast3 = model_p.predict(val)
    t_fcast3 = pd.Series(t_fcast3['yhat'].values, name = 'Prophet', index = t_fcast3['ds'])

################################################  Prophet Future Phase #######################################################
    
    model_pf = Prophet()
    model_pf.fit(all_data3)

    ##make validation index 
    future = model_pf.make_future_dataframe(7, freq = 'Y')
    
    #make predictions
    f_fcast3 = model_pf.predict(future)
    f_fcast3 = pd.Series(f_fcast3['yhat'].values, name = 'Future_Prophet', index = f_fcast3['ds'])


##################################################################################################################
################################################ Regression #######################################################
##################################################################################################################

#     train_data4 = df_train[['time', s]]
#     all_data4 = df_rev[['time', s]]
    
#     #ordinal data conversion
#     train_data4['MonthNumberOrdinal'] = train_data4['time']
#     train_data4['MonthNumberOrdinal'] = pd.to_datetime(train_data4['MonthNumberOrdinal'].map(pd.datetime.toordinal))

#     all_data4['MonthNumberOrdinal'] = all_data4['time']
#     all_data4['MonthNumberOrdinal'] = pd.to_datetime(all_data4['MonthNumberOrdinal'].map(pd.datetime.toordinal))

#     #Set valid index for 5 years
#     index_7_years['ForecastDate_Ordinal'] = pd.to_datetime(index_7_years['ds'].map(datetime.toordinal))
#     future_7_years['ForecastDate_Ordinal'] = pd.to_datetime(future_7_years['ds'].map(datetime.toordinal))
   
#     ############ Regression Validation Phase ################
#     ln = LinearRegression()
#     ln.fit(train_data4['MonthNumberOrdinal'].values.reshape(-1, 1), train_data4[s].values)
                                                            
#     #predictions
#     t_fcast4 = ln.predict(index_7_years['Forecast_Ordinal'].values.reshape(-1, 1))
    
#     #passing on same index
#     t_fcast4 = pd.Series(t_fcast4, index=index_7_years)
#     t_fcast4 = t_fcast4.rename('Regression')
                                                            
################################################  DF Prophet #######################################################

#     ln2 = LinearRegression()
#     ln2.fit(all_data['MonthNumberOrdinal'].values.reshape(-1, 1), all_data[s].values)
                                                            
#     #predictions
#     f_fcast4 = ln2.predict(future_7_years['Forecast_Ordinal'].values.reshape(-1, 1))                                          
    
#     #passing on same index
#     f_fcast4 = pd.Series(f_fcast4, index=future_7_years)
#     f_fcast4 = f_fcast4.rename('Future_Regression')

##################################################################################################################
################################################ RMSE ############################################################
##################################################################################################################
    
#     t_fcast1_mse = mean_squared_error(valid_data[s].values, t_fcast1[s], squared=False)
#     t_fcast2_mse = mean_squared_error(valid_data[s].values, t_fcast2[s], squared=False)                                                        
#     t_fcast3_mse = mean_squared_error(valid_data[s].values, t_fcast3[s], squared=False)
# #     t_fcast4_mse = mean_squared_error(valid_data[s].values, t_fcast4[s], squared=False)
                                                            
##################################################################################################################
################################################ Plotting ######################################################
##################################################################################################################

#     fig, ax = plt.subplots(figsize =(15,5))
#     chart = sns.lineplot(x='time', y = s, data = train_data)
#     chart.set_title(s)
#     valid_data.plot(ax=ax, color = 'blue', marker = 'o', legend = True)
#     #Plotting val
#     try:
#         t_fcast1.plot(ax=ax, color = 'red', marker = 'o', legend = True)
#     except:
#         print('')
#     try:
#         t_fcast2.plot(ax=ax, color = 'green', marker = 'o', legend = True)
#     except:
#         print('')

    #plotting future
#     try:
# # #          f_fcast1.plot(ax=ax, color = 'red', marker = 'v', legend = True)
#     except:
#         print('')
#     try:
# #         f_fcast2.plot(ax=ax, color = 'green', marker = 'v', legend = True)
#     except:
#         print('')
    
#     t_fcast3.plot(ax=ax, color = 'orange', marker = 'o', legend = True)
#     f_fcast3.plot(ax=ax, color = 'orange', marker = 'o', legend = True)
# #     t_fcast4.plot(ax=ax, color = 'black', marker = 'o', legend = True)
# #     f_fcast4.plot(ax=ax, color = 'black', marker = 'o', legend = True)

##################################################################################################################
################################################ Saving into DataFrames ##########################################
##################################################################################################################

################################################  DF Arima #######################################################

    try:
        #Creating df for forecast1
        t_fcast1 = t_fcast1.reset_index()
        t_fcast1.columns = ['Year', 'Arima ForecastValue Validation']
        
        f_fcast1 = f_fcast1.reset_index()
        f_fcast1.columns = ['Year', 'Arima ForecastValue Future']
        
        #Extra Columns
        t_fcast1['Arima ForecastValue Future'] = np.nan
        f_fcast1['Arima ForecastValue Validation'] = np.nan
        
        #Reordering
        t_fcast1 = t_fcast1[['Year', 'Arima ForecastValue Future', 'Arima ForecastValue Validation']]
        
        # Joining them togther
        df_fcast1 = pd.concat([t_fcast1, f_fcast1], axis = 0)
        df_fcast1['State'] = s
        df_fcast1['ML Method'] = 'Arima'
#         df_fcast1['Arima MSE'] = t_fcast1_mse
    
    except:
        df_fcast1 = pd.DataFrame({'Year': [np.nan], 'Arima ForecastValue Future': [np.nan], 'Arima ForecastValue Validation': [np.nan], 'State': [s], 'ML Method': ['Arima']})

################################################  DF Auto Arima #######################################################
     
    try:
        #Creating df for forecast2
        t_fcast2 = t_fcast2.reset_index()
        t_fcast2.columns = ['Year', 'Auto Arima ForecastValue Validation']
        
        f_fcast2 = f_fcast2.reset_index()
        f_fcast2.columns = ['Year', 'Auto Arima ForecastValue Future']
        
        #Extra Columns
        t_fcast2['Auto Arima ForecastValue Future'] = np.nan
        f_fcast2['Auto Arima ForecastValue Validation'] = np.nan
        
        #Reordering
        t_fcast2 = t_fcast2[['Year', 'Auto Arima ForecastValue Future', 'Auto Arima ForecastValue Validation']]
        
        # Joining them togther
        df_fcast2 = pd.concat([t_fcast2, f_fcast2], axis = 0)
        df_fcast2['State'] = s
        df_fcast2['ML Method'] = 'Auto Arima'
#         df_fcast2['Auto Arima MSE'] = t_fcast2_mse
    
    except:
        df_fcast2 = pd.DataFrame({'Year': [np.nan], 'Auto Arima ForecastValue Future': [np.nan], 'Auto Arima ForecastValue Validation': [np.nan], 'State': [s], 'ML Method': ['Auto Arima']})

################################################  DF Prophet #######################################################
     
    try:
        #Creating df for forecast3
        t_fcast3 = t_fcast3.reset_index()
        t_fcast3.columns = ['Year', 'Prophet ForecastValue Validation']
    
        f_fcast3 = f_fcast3.reset_index()
        f_fcast3.columns = ['Year', 'Prophet ForecastValue Future']
        
        #Extra Columns
        t_fcast3['Prophet ForecastValue Future'] = np.nan
        f_fcast3['Prophet ForecastValue Validation'] = np.nan
        
        #Reordering
        t_fcast3 = t_fcast3[['Year', 'Prophet ForecastValue Future', 'Prophet ForecastValue Validation']]
        
        # Joining them togther
        df_fcast3 = pd.concat([t_fcast3, f_fcast3], axis = 0)
        df_fcast3['State'] = s
        df_fcast3['ML Method'] = 'Prophet'
#         df_fcast3['Prophet MSE'] = t_fcast3_mse

    except:
        df_fcast2 = pd.DataFrame({'Year': [np.nan], 'Prophet ForecastValue Future': [np.nan], 'Prophet ForecastValue Validation': [np.nan], 'State': [s], 'ML Method': ['Prophet']})
        
################################################ Aggregating and Joining #######################################################

#     df_fcast1 = df_fcast1.groupby(['Year', 'State', 'ML Method'], as_index = False).agg({'Arima ForecastValue Future': 'sum', 'Arima ForecastValue Validation': 'sum'})
#     df_fcast2 = df_fcast2.groupby(['Year', 'State', 'ML Method'], as_index = False).agg({'Auto Arima ForecastValue Future': 'sum', 'Auto Arima ForecastValue Validation': 'sum'})
    df_fcast3 = df_fcast3.groupby(['Year', 'State', 'ML Method'], as_index = False).agg({'Prophet ForecastValue Future': 'sum', 'Prophet ForecastValue Validation': 'sum'})
        
    all_forecasts = df_fcast3.copy()
#     all_forecasts = df_fcast3.merge(df_fcast2[['Year', 'Auto Arima ForecastValue Future', 'Auto Arima ForecastValue Validation']], how ='left', on = 'Year').copy()
#     all_forecasts = pd.DataFrame(all_forecasts.merge(df_fcast1[['Year', 'Arima ForecastValue Future', 'Arima ForecastValue Validation']], how ='left', on = 'Year'))
        
        #Save predictions in df. First time this will fail and just give all_forecasts, after that will concat for each state
    try: 
        final_forecasts = pd.concat([final_forecasts, all_forecasts], ignore_index = True)
    except:
        final_forecasts = all_forecasts

In [ ]:
final_forecasts.shape

In [ ]:
#final_forecasts.to_csv('./data/time_series/final_v1.csv')

<a id='merge'></a>
## 4. Merging Final Forecasts with Original Data

Merging the final forecasts with original data. However our original dataframe is in the wrong format, so we import a new one that has a "states" row with the historical data in the correct format.

In [ ]:
#Reading in our original data in the correct format and final_forecasts (which we exported above)
df_data = pd.read_csv('./data/time_series/hor_states.csv')

final_forecasts = pd.read_csv('./data/time_series/final_v1.csv')

In [ ]:
df_data.head()

In [ ]:
##Setting consistent columns
df_data['Prophet ForecastValue Future'] = np.nan
df_data['Prophet ForecastValue Validation'] = np.nan

# df_data['Year'] = pd.to_datetime(df_data['Year'])
#Dropping Ml Method as it is not necessary
del final_forecasts['ML Method']

#adding this column to keep consistency across both before union
final_forecasts['fi'] = np.nan

In [ ]:
#Converting both to datetime so types are the same for the concat
df_data['Year'] = pd.to_datetime(df_data['Year'])
final_forecasts['Year'] = pd.to_datetime(final_forecasts['Year'])

In [ ]:
df_data.head(1)

In [ ]:
final_forecasts.head(1)

In [ ]:
## Reordering for concat

final_forecasts = final_forecasts[['Unnamed: 0', 'Year', 'State', 'fi', 'Prophet ForecastValue Future', 'Prophet ForecastValue Validation']]

In [ ]:
#Concatening and dropping and renaming columns 
output_df = pd.concat([df_data, final_forecasts], axis = 0)

del output_df['Unnamed: 0']

output_df.rename(columns = {'fi': 'Food Insecurity Rate'}, inplace = True)

In [ ]:
output_df.head(1)

In [ ]:
##Setting zeros to NaN for PowerBI

output_df['Prophet ForecastValue Future'][output_df['Prophet ForecastValue Future'] < 1] = np.nan
output_df['Prophet ForecastValue Validation'][output_df['Prophet ForecastValue Validation'] < 1] = np.nan
output_df['Food Insecurity Rate'][output_df['Food Insecurity Rate'] < 1] = np.nan

In [ ]:
# # Exporting to CSV
# output_df.to_csv('./data/time_series/output_df.csv')